.me {
  font-size: 20px;
  
}
.me .bloc {
  margin: 30px 0;
  color: yellow;
  padding: 0px 20%;
  line-height: 1.2;
text-overflow: clip;
text-align: center;

}



.bwb{
  color: black;
  background: rgba(224, 223, 147, 0.897);
  font-size: 30px;
  padding:0 15px;
  margin: 0 6px;
  border-radius: 5px;
}

.wb{
  color: white;
  font-size: 30px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 6px;
}

.yb{
  color: yellow;
  font-weight: 800;
  margin: 0 6px;

}

.ysi{
  font-style: italic;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 6px;
}

.byb{
  color: var(--backgrey);
  background: rgba(219, 219, 219, 0.897);
  font-size: 30px;
  padding:0 15px;
  margin: 0 6px;
  border-radius: 5px;
}

.bold{
font-weight: 900;
}

.golden{
  color: rgb(226, 213, 155);
}

.quote{
margin: 0 15%;
color: bisque;
font-weight: 900;
font-size: 50px;
font-style: italic;
font-family:'Times New Roman', Times, serif
}

.quote-end{
text-align: right;
}


/** media queries mobile */
@media screen and (max-width: 800px) {
  .me .bloc {
    font-size: 18px;
    margin: 10px 0;
    padding: 0px 7%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .bwb{
    font-size: 20px;
  }
  .wb{
    
    font-size: 20px;
  }
  .byb{
    
    font-size: 25px;
  }

}