.profile{
  
    display: grid;
    grid-template-columns: 1fr 200px;  

    overflow: hidden;
  }
  
.profile-left{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    padding-left: 30px;  
}

.firstname{
    margin: 0;
    color: black;
    font-size: 50px;
    font-weight: 400;
}

.lastname{
    margin-top:-14px;
    color: black;
    font-size: 50px;
    font-weight: 500;
}

.position{
    color: black;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;

    padding: 1px 8px;
}
.title{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.profile-right div{
   
   box-shadow: inset 3px 3px 5px rgba(54, 54, 54, 0.445);
   border-radius: 200px 0 0 200px;

   overflow: hidden;
}
.img-main{
    position: relative;
    right:0px;

    width:300px;
    height: auto;
    z-index: -2;
    

    object-fit:fill;
    object-position: top;
  }

