.project{
  

    padding: 12px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    

    overflow: hidden;
  }

 .project-item{
     background-color: #3f3f3f;
     margin: 6px;
     padding: 12px;
 }

 .project-img{
     width: 300px;
     height: 300px;
 }

 #diamond-narrow {
    width: 100;
    height: 100;
    border: 50px solid transparent;
    border-bottom: 70px solid red;
    position: relative;
    top: -50px;
  }
  #diamond-narrow:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 100;
    height: 100;
    border: 50px solid transparent;
    border-top: 70px solid red;
  }

  #diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: red;
    position: relative;
    top: -50px;
  }
  #diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: red;
  }
