.skills{
  
    margin: 50px 0px ;;
    background-color: rgba(83, 83, 83, 0.164);
    background-image: url(../assets/img/macblack.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    
    padding: 12px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  


    overflow: hidden;
  }

  

 .skills-item{
     background-color: #8a868646;
     margin: 6px;
     padding: 10px 20px 20px 20px;
     color: rgb(231, 228, 175);
     border-radius: 10px;
 }
 
 .skills-item h3{
    color: white;
    text-align: center;
}
