.techno {
  height: 300px;
  margin: 25px 0;

  display: flex;
  /*  background: blue; */

  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.techno .icon:hover {
  transform-origin: center;
  transform: scale(1.5);
  transition: ease-in-out 0.3s;
}

.icon-box {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.icon-label {
  position: relative;
  top: 30px;
  opacity: 0;
}
.techno .icon-box:hover .icon-label {
  opacity: 1;
  transition: ease-in-out 0.7s;
}

.icon-techno {
  /* background: red; */
  fill: white;
  cursor: default;
  margin: 0px;
  padding: 0 25px;
}

.icon-react:hover {
  color: rgb(79, 176, 206);
}

.icon-css:hover,
.icon-java:hover {
  color: rgb(65, 121, 153);
}
.icon-html:hover {
  color: rgb(235, 99, 21);
}
.icon-spring:hover {
  fill: rgb(86, 153, 65);
}
.icon-fb:hover {
  fill: rgb(219, 197, 1);
}

.icon-li {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.icon-li:hover {
  background-color: rgb(226, 226, 226);
  color: rgb(41, 39, 170);
}
