.techno {
  height: 300px;
  margin: 25px 0;

  display: flex;

  align-items: center;
  justify-content: center;

  overflow: hidden;
}

/** media queries mobile */
@media screen and (max-width: 800px) {
  .techno {
    /* background-color: green; */
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
  }
}

.icon-box {
  /* background-color: green; */
  width: max-content;
  display: flex;
  flex-direction: column;
  
  color: white;
  padding: 0;
  margin: 0px 1px;
}
.icon-box-zoom{
   /* background: blue; */
   height: min-content;
  
}

.icon-techno {
   /* background: red; */
   fill: white;
   cursor: default;
   margin: 0 12px;
   z-index: 10;
   
 }



.icon-techno:hover{
  
   transform-origin: center;
   transform:rotate(5deg) scale(1.5) ;
  
   transition: ease-in-out 0.3s; 
 }

 
.icon-label {
  position: relative;
  top: 30px;
  opacity: 0;
  text-align: center;
}

.techno .icon-box:hover .icon-label {
  opacity: 1;
  transition: ease-in-out 0.7s;
}


.icon-react:hover {
  color: rgb(79, 176, 206);
}

.icon-css:hover,
.icon-java:hover {
  color: rgb(65, 121, 153);
  
}
.icon-html:hover {
  color: rgb(235, 99, 21);
}
.icon-spring:hover {
  fill: rgb(86, 153, 65);
}
.icon-fb:hover {
  fill: rgb(219, 197, 1);
}

.icon-li {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.icon-li:hover {
  background-color: rgb(226, 226, 226);
  color: rgb(41, 39, 170);
}
